header{
    display: flex;flex-direction: row;justify-content: center;
    position: sticky;top: 0;z-index: 10000;background-color: 000000;
}
header>div{
    width: 33%;text-align: center;margin: 10px;
}
header>div>ul>li{
    list-style-type: none;padding: 0;
}
header>div>ul{
    display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;margin-top: 40px;
    margin-left: -60px;
}

header>div>ul li>a{
    text-decoration: none;color: #FFFFFF;font-weight: bold;font-size: 15px;
}
header>div>ul li>a:hover{
    color: #006DFF;transition: 0.5s;
}

body{
    margin: 0;padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header button{
  padding: 13px;border:2px solid #fff;border-radius: 20px;color: #fff;background-color: #000000;font-weight: bold;
  font-size: 17px;margin-top: 30px;
}
header button:hover{
  background-color: #006DFF;color: #ffffff;border: none;
  }
  
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #006DFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #side{
    background-color: #000000;
   padding: 20px;
    display: none;z-index: 10000;

}
#side img{
    display: none;
}
.container {
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 5px;
    background-color: #006DFF;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
.sidenav{
    display: none;
}
#sideNav{
    display: none;
}

#underNav{
    display: none;
}

#hero{
    display: flex;flex-direction: row;justify-content: space-between;align-items: center;flex-wrap: wrap;background-color: #000000;
    padding: 30px;padding-bottom: 90px;
}
#hero>div{
    width: 40%;padding: 10px;margin: 20px;color: #FFFFFF;
}
#hero p{
    text-align: justify;
}
#hero h2{
    font-size: 40px;
}
button{
    background-color: #D61313;color: #fff;border: none;padding: 10px;border-radius: 10px;
}

#bg{
    display: flex;align-items: center;justify-content: center;margin-top: -5%;
}
#bg img{
    height: 600px;width: 80%;
}
#mission{
    display: flex;flex-direction: row;justify-content: center;align-items: center;
   
}
#mission>div{
   margin: 40px;border-radius: 15px;width: 45%;
}
#mission img{
    width: 100%;height: 400px;
}
#mission1{
    display: flex;flex-direction: row;justify-content: center;align-items: center;
   
}
#mission1>div{
   margin: 40px;border-radius: 15px;width: 45%;height: auto;
}
#mission1 img{
    width: 100%;height: 400px;
}
#m2{
    background-color: #EDECFF;height: 360px;padding: 20px;
}
#m3{
    height: 360px;padding: 20px;
}
#m2,#m3 p{
    font-size: 20px;
}
#inner{
    display: flex;flex-direction: row;align-items: center;justify-content: center;
}
#inner>div{
    width: 45%;margin: 20px;
}
#inner img{
    width: 100%;height: 100%;
}
.vision{
    display: flex;flex-direction: column;
}

footer{
    background-color: #000000
}
footer{
   display: flex;flex-direction: row;justify-content:space-evenly;
}
footer>div{
padding: 10px;color: #F9FAFB;margin: 20px
}
footer h3{
    font-weight: bold;font-size: 20px;color: #006DFF;
}
div{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }

  div.visible {
    opacity: 1;
    transform: translateY(0);
}
#links a{
color: #fff; line-height: 30px;text-decoration: none;
}
#serviceHero{
    background-image: url(images/Frame\ 5.png);background-repeat: no-repeat;
      background-size: cover;
}
#serviceHero>div{
    padding: 100px;color: #fff;display: flex;align-items:end;justify-content: flex-end;
}

article{
    display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-evenly;align-items: center;
}
article>div{
    width: 45%;margin: 20px;
}
article img{
    width: 100%;
}
#human{
    display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-evenly;align-items: center;
}
#human>div{
    width: 25%;margin: 20px;
}
#human img{
    width: 100%;
}
#form>form>label{
margin-bottom: 10px;color: #000000;
}
#form input{
    padding: 10px;border: 1px solid black; border-radius: 10px; width: 300px;
}
#form button{
   background-color: #D61313;margin: 20px;padding: 10px;width: 200px;
}
@media only screen and (max-width: 900px){
    #serviceHero>div{
        padding: 100px;color: #fff;display: flex;align-items:unset;justify-content:unset;text-align: center;
    }
    footer{
        flex-direction: column;
    }
    footer>div{
        width: auto;margin: 10px
    }
    .sidenav{
        display: block;
    }
    #sideNav{
        display: block;
    }
    #underNav{
        display: block;margin-top: 25px;margin-left: 20px;
    }
    .container{
        display: inline-block;
        cursor: pointer;
       }
    #side{
        display: block;height: 70px;position: sticky;top: 0;background-color: #000000;
    }
    #side img{
        display: block;height: 100%;margin: -5%;
    }
    header{
        display: none;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        background-color: #000000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
        line-height: 50px;
        color: #d1cbcb;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
    padding-left: 15px;
      }
      
      .sidenav a:hover {
        color: #ffffff;background-color: #006DFF;border-bottom: 1px solid #e4e4e4;
      }

.container{
    float: right;margin-right: 30px;margin-top: -40px;
}

#hero{
    flex-direction: column-reverse;flex-wrap: nowrap;
}
#hero>div{
    width: 100%;
}
#mission{
    flex-direction: column-reverse;
}
#mission>div{
    width:auto ;height: auto;
}
#mission1{
    flex-direction: column-reverse;
}
#mission1>div{
    width:auto ;height: auto;
}
#bg{
    display: none;
}
#m1{
    display: none;
}
#m2,#m3 p{
    font-size: 17px;
}
article>div{
width: auto;
}
#human>div{
    width: 100%;margin: 10px;
}
#human{
    justify-content: center;
}
}